a {
    color: rgb(200, 200, 200);
}

#SideBar {
    background-color: rgb(33, 33, 33);

    height: 100%;
    width: 200px;
}

#sidebar-title {
    color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}